{% extends 'template.html' %}

{% block head %}
<title>Snakes-R-Us: Snake Breeder Directory</title>
{% endblock %}

{% block body %}

<h1>Snake Breeders</h1>
<br>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    </thead>    
    <tbody>
        {% for result in results %}    
            <tr>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
