<!-- Citation for bootstrap css styling:
https://www.w3schools.com/bootstrap/bootstrap_ref_css_buttons.asp 
Citation for message flashing:
https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->

{% extends 'template.html' %}

{% block head %}
<title>Snakes-R-Us: Manage Delivery Partners</title>
{% endblock %}

{% block body %}

<h1>Delivery Partners</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-danger" role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>
<a href="DeliveryPartners/NewPartner" class="btn btn-success">Add a Delivery Partner</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Delivery Partner ID</th>
        <th>Organization Name</th>
        <th>Delivery Method</th>
    </tr>
    </thead>    
    <tbody>
        {% for result in results %}    
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td><a href="{{url_for('EditDeliveryPartner', partnerid=result[0])}}" class="btn btn-warning">Edit</a></td>
                <td><a href="{{url_for('DeleteDeliveryPartner', partnerid=result[0])}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
