{% extends 'template.html' %}

{% block head %}
    <title>Snakes-R-Us: Add a Delivery Partner</title>
{% endblock %} 


{% block body %}  
    <h1>Edit Delivery Partner</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-danger" role="alert">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <form method="post" action="/DeliveryPartners/EditPartner/{{results[0]}}">
    <fieldset>
        <label for="org"> Organization Name: </label>
        <input type="text" name="org" value="{{results[1]}}" required />
        <br>
        <label for="method"> Delivery Method: </label>
        <input type="text" name="method" value="{{results[2]}}" required />
        <br>
        <input type="submit"/>
    </fieldset>
    </form>
{% endblock %}