{% extends 'template.html' %}

{% block head %}
    <title>Snakes-R-Us: Create an Order</title>
{% endblock %} 


{% block body %} 
    <h1>Create an Order</h1>
    <br>
    <form method="post" action="/Orders/NewOrder">
        <fieldset>
            <label for="customer"> Customer Email: </label>
            <select name="customer" id="customer">
                {% for customer in customers %}   
                  <option>{{customer[1]}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="partner"> Delivery Partner: </label>
            <select name="partner" id="partner">
                {% for partner in partners %}   
                    <option>{{partner[1]}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <span>Placeholder for some snakes...</span>
            <br>
            <br>
            <br>

            <input type="submit"/>
        </fieldset>
    </form>
{% endblock %} 
