{% extends 'template.html' %}

{% block head %}
    <title>Snakes-R-Us: Add a Delivery Partner</title>
{% endblock %} 


{% block body %} 
    <h1>Add a Delivery Partner</h1>
    <br>
    <form method="post" action="/DeliveryPartners/NewPartner">
        <fieldset>
            <label for="org"> Organization Name: </label>
            <input type="text" name="org" required />
            <br>
            <label for="method"> Delivery Method: </label>
            <input type="text" name="method" required />
            <br>
            <input type="submit"/>
        </fieldset>
    </form>
{% endblock %} 
