{% extends 'template.html' %}

{% block head %}
    <title>Snakes-R-Us: Add a Delivery Partner</title>
{% endblock %} 


{% block body %} 
    <h1>Add a Delivery Partner</h1>
    <br>
    <form method="post" action="/DeliveryPartners/NewPartner">
        <fieldset>
            <label for="org"> Organization Name: </label>
            <input type="text" name="org" required />
            <br>
            <label for="method"> Delivery Method: </label>
            <select name="method" id="method">
                <option value="Air">Air</option>
                <option value="Ground">Ground</option>
                <option value="Boat">Boat</option>
            </select>
            <br>
            <input type="submit"/>
        </fieldset>
    </form>
{% endblock %} 
