<!-- Citation for bootstrap css styling:
https://www.w3schools.com/bootstrap/bootstrap_ref_css_buttons.asp -->

{% extends 'template.html' %}

{% block head %}
<title>Snakes-R-Us: Snakes and Breeders</title>
{% endblock %}

{% block body %}



<h1>Snakes and their Breeders</h1>
<br>
<a href="SnakesBreeders/NewSnakesBreeders" class="btn btn-success">New Association</a> 
<br>
<br>



<form method="post" action="">
   <input type="text" class="form-control" placeholder="Search by snake name or breeder" name="snake">
   <br>
   <button class="btn btn-primary" type="submit">
       Submit
   </button>
</form>

<br>
<table>
    <thead>
    <tr>
        <th>Snake Species</th>
        <th>Price</th>
        <th>Breeder's Name</th>
        <th>Breeder's Email</th>
    </tr>
    </thead>    
    <tbody>
        {% for result in results %}    
            <tr>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[4]}}</td>
                <td>{{result[5]}}</td>
                <td><a href="{{url_for('DeleteSnakesBreeders', snakeid=result[0], breederid=result[3])}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
