<!-- Citation for bootstrap css styling:
https://www.w3schools.com/bootstrap/bootstrap_ref_css_buttons.asp
https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
 -->

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        td {
            width: 25%;
            text-align: left;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Snakes-R-Us</a>
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('Orders')}}">Orders</a></li>
                <li><a href="{{url_for('Customers')}}">Customers</a></>
                <li><a href="{{url_for('Snakes')}}">Snakes</a></li>
                <li><a href="{{url_for('DeliveryPartners')}}">Delivery Partners</a></li>
                <li><a href="{{url_for('Breeders')}}">Breeders</a></li>
            </ul>
        </div>
    </nav>

    {% block head %}


    {% endblock %}

</head>


<style>
    td {
        width: 25%;
        text-align: left;
        border: 1px solid black;
        padding: 10px;
    }
</style>
<body>
    
{% block body %}


{% endblock %}
</body>
</html>